/* here you can put your own css to customize and override the theme */

.pagedown-arrow {
    left: 48%; 
    position: absolute; 
    margin-top: -45px; 
    z-index: 1000;
    font-size: 37px !important;
    color: #9ca7b7 !important;
}

.pagedown-arrow:hover {
    color: #0000F0 !important;
}

#page1, #page2, #page4, #page6{
    padding: 0 !important;
    position: relative;
}
#page1 .scroll, #page2 .scroll, #page4 .scroll, #page6 .scroll{
    position: absolute;
    bottom: 5px;
    left: 49%;
}
#page3, #page5, #page7{
    position: relative;
    padding:30px 0px 20px !important;
}
#page3 .scroll, #page5 .scroll, #page7 .scroll{
    position: absolute;
    left: 49%;
    bottom: 0;
}
/*-------------------------------------------------------*/
#page1 .tp-caption.large_bold_white {
    margin-top: -100px;
}

#page1 .tp-caption.large_text {
    left: 50% !important;
    width: 90%;
    -ms-transform: translate(-50%, 50%) !important;
    transform: translate(-50%, 50%) !important;
}

#page1 .tp-caption div.form-group {
    top: -3vh;
    left: 50%;
    -ms-transform: translate(-50%, 0%) !important;
    transform: translate(-50%,0%) !important;
}

#page1 .tp-caption.large_text input.form-control {
    padding-right: 32px !important;
    font-size: 20px;
    border: 1px solid gray;
}

#page1 .tp-caption.large_text i {
    font-size: 20px;
    color: black;
    position: absolute;
    top: 9px;
    right: 18px;
}

#page1 .tp-caption.large_text .comment-currency {
    margin-top: 50px;
    color: rgb(50, 168, 178);
    text-shadow: none;
}

#page1 .tp-caption.large_text .comment {
    color: gray;
    font-size: 14px;
    font-weight: lighter;
    text-shadow: none;
}

#page1 .tp-caption.large_text .comment a {
    color: gray;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: none;
    text-decoration: underline;
}
/*-------------------------------------------------*/
#page2 .tp-caption.large_bold_white {
    left: 10% !important;
    text-transform: none;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
}

#page2 .tp-caption.large_text {
    white-space: normal;
    font-size: 27px !important;
    overflow-wrap: normal;
    word-break: break-word;
    word-wrap: break-word;
    /*max-width: 64% !important;*/
    text-align: center;
    width: 50%;
    top: 30% !important;
    left: 28% !important;
    -ms-transform: translate(-50%, 0%) !important;
    transform: translate(-50%, 0%) !important;
}
/*------------------------------------------------*/
#page4 .item:nth-child(1) img {
    width: 100%;
}

#page4 .item:last-child {
    min-height: 45vh;
}

#page4 .pull-left {
    /*margin-top: 10px;*/
    width: 15%; ;
}
/*------------------------------------*/
#page6 .item:last-child img {
    width: 100%;
}
/*------------------------------------*/

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

div.footer {
    background-color: white;
    color: black;
}

div.copyright {
    font-size: 16px;
    font-weight: bold;
    padding: 20px 20px;
}

.elephant-title {
    color: white;
    font-size: 50px !important;
    font-weight: bold !important;
    text-transform: capitalize !important;
    transform: scale(1.2,1.0);
    letter-spacing: 2px;
    
}

.elephant-text {
    color: white;
    font-size: 18px;
    font-weight: 500;
}